[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
pandas = "*"
numpy = "*"
munch = "*"
seaborn = "*"
numexpr = "*"
xlrd = "*"
xlwt = "*"
tqdm = "*"
logzero = "*"
recommonmark = "*"
table-enforcer = "*"
dataclasses = "*"
jupyter = "*"
jupyterlab = "*"
widgetsnbextension = "*"
jupyter-contrib-nbextensions = "*"
pip = "*"
pendulum = "*"
toolz = "*"
cloudpickle = "*"


[dev-packages]

rope = "*"
line-profiler = "*"
mypy = "*"
bumpversion = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
sphinx = "*"
pytest = "*"
pytest-runner = "*"
pylama = "*"
sphinx-rtd-theme = "*"
pydocstyle = "*"
pylint = "*"
yapf = "*"
pudb = "*"


[requires]

python_version = "3.6"


[pipenv]

keep_outdated = true
